@import "variables", "normalize/import-now", "neutron/neutron";

body {
  color: $body-color;
  font-family: arial, sans-serif;
}

.u-relative {
  position: relative;
}

.u-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.u-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mount {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
