$body-color: #204669;
$white: #FFFFFF;
$green: #93BD4D;
$blue: #20D4E2;
$purple: #6B75B3;

$app-primary-color: $purple;

$sidebar-bg-color: #424F57;

$content-padding: 10px;
$content-bg-color: #E4E9EF;
$content-page-bg-color: #FFF;


@mixin default-page-padding {
  width: 100%;
  padding: 50px 10px;
}
