@import "variables";

.app-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.app-top-bar {
  background: $app-primary-color;
  height: 40px;
  padding: 5px;
  color: $white;
  box-shadow: rgba(0,0,0,0.5) 0 2px 1px 0px;
  z-index: 1;
}

.app-side-bar {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 250px;
  background: $sidebar-bg-color;
  border-right: solid 1px #6F77A7;
  z-index: 1;
}

.app-side-bar-nav-link {
  display: block;
  color: $white;
  padding: 3px 10px;
  font-size: 1.1rem;

  &:hover {
    background: lighten($sidebar-bg-color, 4%);
    color: $white;
    text-decoration: none;
  }
}

.app-side-bar-nav-link.is-active {
  background: lighten($sidebar-bg-color, 7%);
}

.app-logo {
  color: $white;
  text-align: center;
  display: block;
  text-decoration: none;
  padding-bottom: 20px;
  border-bottom: solid 3px lighten($sidebar-bg-color, 3%);
}

.app-main {
  position: absolute;
  top: 40px;
  left: 250px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  padding: 25px;
  background: $content-bg-color;
  overflow-y: auto;
  box-shadow: inset rgba(0,0,0,0.7) 1px 0px 1px 0px;
}
